@model NegoSoftWeb.Models.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProName" class="control-label"></label>
                <input asp-for="ProName" class="form-control" />
                <span asp-validation-for="ProName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProDescription" class="control-label"></label>
                <input asp-for="ProDescription" class="form-control" />
                <span asp-validation-for="ProDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProSupplierId" class="control-label"></label>
                <select asp-for="ProSupplierId" class ="form-control" asp-items="ViewBag.ProSupplierId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProPrice" class="control-label"></label>
                <input asp-for="ProPrice" class="form-control" />
                <span asp-validation-for="ProPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProBoxPrice" class="control-label"></label>
                <input asp-for="ProBoxPrice" class="form-control" />
                <span asp-validation-for="ProBoxPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProTypeId" class="control-label"></label>
                <select asp-for="ProTypeId" class ="form-control" asp-items="ViewBag.ProTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProStock" class="control-label"></label>
                <input asp-for="ProStock" class="form-control" />
                <span asp-validation-for="ProStock" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="ProImageFile" class="control-label">Product Image</label>
                <input name="ProImageFile" type="file" class="form-control" accept="image/jpeg, image/png, image/gif" />
                <span asp-validation-for="ProImageFile" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
