@model NegoSoftWeb.Models.ViewModels.CustomerViewModel

@{
    ViewData["Title"] = "Renseignements Client";
}

<h2>Renseignements Client</h2>

<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="CusFirstName" class="control-label"></label>
                <input asp-for="CusFirstName" class="form-control" />
                <span asp-validation-for="CusFirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CusLastName" class="control-label"></label>
                <input asp-for="CusLastName" class="form-control" />
                <span asp-validation-for="CusLastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CusEmail" class="control-label"></label>
                <input asp-for="CusEmail" class="form-control" />
                <span asp-validation-for="CusEmail" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CusPhone" class="control-label"></label>
                <input asp-for="CusPhone" class="form-control" />
                <span asp-validation-for="CusPhone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Suivant : Adresse de Livraison" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
