@model NegoSoftWeb.Models.ViewModels.AddressViewModel

@{
    ViewData["Title"] = "Address Information";
}

<h2>Address Information</h2>

<form asp-action="OrderAddress" method="post">
    <h3>Delivery Address</h3>

    <div class="form-group">
        <label asp-for="AddDeliveryStreet"></label>
        <input asp-for="AddDeliveryStreet" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AddDeliveryCity"></label>
        <input asp-for="AddDeliveryCity" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AddDeliveryZipCode"></label>
        <input asp-for="AddDeliveryZipCode" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AddDeliveryCountry"></label>
        <input asp-for="AddDeliveryCountry" class="form-control" />
    </div>

    <h3>Billing Address</h3>

    <div class="form-group">
        <label asp-for="AddBillingStreet"></label>
        <input asp-for="AddBillingStreet" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AddBillingCity"></label>
        <input asp-for="AddBillingCity" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AddBillingZipCode"></label>
        <input asp-for="AddBillingZipCode" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AddBillingCountry"></label>
        <input asp-for="AddBillingCountry" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Save Address</button>
</form>
